<div class="step other-actions" id="step-<%= @step %>">
  <div class="main-frame">
    <div id="head-img">
        <%= image_tag("luck.svg" , alt: "Robot Apelatrón deseando suerte") %>
    </div>
    <div class="main-content">
        <h4 id="subtitle">
            y ahora?
        </h4>
        <h2 id="page-title">
            Otras acciones a tomar
        </h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
            tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
            elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim
            egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna.
            Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum
            tellus.
        </p>
        <div id="img-gallery">

        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
            tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
            elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.</p>
        <div id="inner-msg">
            <%= image_tag("caution.png" , alt: "Imagen cambiar") %>
            <p id="ad-text">Ojo al piojo con mandar datos personales.</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
            tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
            elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.</p>
        <div id="prop-list">
            <h3>Ideas</h3>
            <ul>
                <li>Idea</li>
                <li>Idea</li>
                <li>Idea</li>
                <li>Idea</li>
            </ul>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
            tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
            elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.</p>
        <div>
            <h3>¿Y ahora?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                mattis tellus. </p>
        </div>
        <div>
            <h3>Seguimiento desde esta herramienta</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                mattis tellus. </p>
        </div>
        <div class="relevant">
            <div id="answerT">
                <h4><%= image_tag("sand-clock.png" , alt: "Imagen cambiar") %>¿Que esperar?</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                mattis.</p>
        </div>
        <div id="next" class="main-button">
            <button><%= image_tag("home.png" , alt: "Imagen cambiar") %> Volver al inicio</button>
        </div>
        <div class="upload-button">
            <button><%= image_tag("copy.png" , alt: "Imagen cambiar") %>¿Te fue útil? Compartí la herramienta</button>
        </div>
    </div>
  </div>
</div>
