<div class="step other-actions" id="step-<%= @step %>">
  <div class="main-frame">
    <div id="head-img">
        <%= image_tag("luck.svg" , alt: "Robot Apelatrón deseando suerte") %>
    </div>
    <div class="main-content">
        <h4 id="subtitle">
            y ahora?
        </h4>
        <h1 id="page-title">
            Otras acciones a tomar
        </h1>
        <hr>
        <p>
          Además de utilizar los mecanismos de las plataformas para solicitar revisión de sus decisiones y presentar una apelación, hay otras acciones que se pueden tomar para visibilizar los casos de moderación de contenido que vulneran el derecho de libertad de expresión.
        </p>
        <div id="img-gallery">

        </div>
        <div id="prop-list">
          <h2>IDEAS</h1>
          <p>
            <ul>
              <li>
            Buscar el apoyo de la comunidad: En los casos de remoción del contenido, el usuario puede pedir apoyo a la comunidad de la plataforma y a sus seguidores en otras redes sociales. La comunidad puede ayudar a difundir su mensaje y lograr que la plataforma restaure su contenido.
              </li>
              <li>
            Comunicar el caso en otras plataformas: En los casos de remoción de contenido o de suspensión, bloqueo o eliminación de una cuenta, el usuario puede publicar su contenido en otra plataforma y, además, compartir su caso en otras redes sociales y pedir apoyo de la comunidad.
              </li>
              <li>
            Usar el humor para informar: En algunos casos, usar el humor puede ser una forma efectiva de abordar el problema en las redes sociales para lograr un mayor alcance y que se difunda el caso. El usuario puede crear memes o videos para resaltar la ironía de la situación en forma de denuncia por las decisiones tomadas por la plataforma.
              </li>
              <li>
            Crear una petición en línea: Si el usuario cree que su caso es relevante para un gran número de personas, puede crear una petición en línea para sumar el apoyo de la comunidad en internet.
              </li>
              <li>
            Contactarse con periodistas: En los casos de remoción de contenido y de suspensión, bloqueo o eliminación de una cuenta, puede ser útil recurrir a periodistas y medios de comunicación que puedan informar sobre el caso para darlo a conocer y ayudar a difundir el mensaje que fue eliminado.
              </li>
              <li>
            Buscar asesoramiento legal: Si el usuario no puede resolver el problema con la plataforma o si los esfuerzos de apelación no tuvieron éxito, puede explorar otras opciones, como buscar asesoramiento legal o acercarse a una organización que defienda la libertad de expresión en línea. En ambos casos pueden ayudar al usuario a comprender sus opciones legales y a tomar medidas para proteger sus derechos.
              </li>
            </ul>
          </p>
        </div>
        <div id="inner-msg">
            <%= image_tag("caution.png" , alt: "Imagen cambiar") %>
            <p id="ad-text">Ojo al piojo con mandar datos personales.</p>
        </div>
        <h2>SEGUIMIENTO DESDE ESTA HERRAMIENTA</h2>
        <p>Esperamos que Apelatron te haya podido asistir correctamente en el proceso de apelación de tu caso. En X días te llegará un correo de seguimiento para saber si recibiste una respuesta de la plataforma y cuál fue el resultado.</p>
        <h2>QUÉ ESPERAR</h2>
        <p>En algunos casos, las plataformas pueden responder y resolver el caso en las primeras 48 horas desde que se solicitó la revisión o se presentó la apelación. Sin embargo, en otros casos pueden demorar varias semanas o meses, e incluso algunos reclamos pueden quedar sin respuesta. Es por eso que es importante considerar otras acciones que se pueden tomar para darle mayor visibilización al caso lo que podría ayudar para que la plataforma restaure el contenido o la cuenta suspendida.</p>

        <div class="relevant">
            <div id="answerT">
                <h4><%= image_tag("sand-clock.png" , alt: "Imagen cambiar") %>¿Que esperar?</h4>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                mattis.</p>
        </div>
        <div id="next" class="main-button">
            <a href="/nueva-apelacion"><%= image_tag("home.png" , alt: "Imagen cambiar") %>Nueva apelación</a>
        </div>
        <div class="upload-button">
            <button><%= image_tag("copy.png" , alt: "Imagen cambiar") %>¿Te fue útil? Compartí la herramienta</button>
        </div>
    </div>
  </div>
</div>
