<div class="step other-actions" id="step-<%= @step %>">
  <div class="main-frame">
    <div id="head-img">
      <%= image_tag("luck.svg" , alt: "Robot Apelatrón deseando suerte") %>
    </div>
    <div class="main-content">
      <h4 id="subtitle">
          y ahora?
      </h4>
      <h1 id="page-title">
          Otras acciones a tomar
      </h1>
      <hr>
      <p>¡Bien! Ya terminaste el asistente para poder presentar tu apelación. Cuando recibas respuesta de la plataforma, acordate de compartirlo con nosotros haciendo click en el botón de feedback que te enviamos por correo.</p>
      <p>
        Además de utilizar los mecanismos de las plataformas para solicitar revisión de sus decisiones y presentar una apelación, hay otras acciones que se pueden tomar para visibilizar los casos de moderación de contenido que vulneran el derecho de libertad de expresión.
      </p>
      <div id="prop-list">
        <h2>IDEAS</h2>
        <p>
          <ul>
            <li>
          <b>Buscar el apoyo de la comunidad:</b> En los casos de remoción del contenido, el usuario puede pedir apoyo a la comunidad de la plataforma y a sus seguidores en otras redes sociales. La comunidad puede ayudar a difundir su mensaje y lograr que la plataforma restaure su contenido.
            </li>
            <li>
          <b>Comunicar el caso en otras plataformas:</b> En los casos de remoción de contenido o de suspensión, bloqueo o eliminación de una cuenta, el usuario puede publicar su contenido en otra plataforma y, además, compartir su caso en otras redes sociales y pedir apoyo de la comunidad.
            </li>
            <li>
          <b>Usar el humor para informar:</b> En algunos casos, usar el humor puede ser una forma efectiva de abordar el problema en las redes sociales para lograr un mayor alcance y que se difunda el caso. El usuario puede crear memes o videos para resaltar la ironía de la situación en forma de denuncia por las decisiones tomadas por la plataforma.
            </li>
            <li>
          <b>Crear una petición en línea:</b> Si el usuario cree que su caso es relevante para un gran número de personas, puede crear una petición en línea para sumar el apoyo de la comunidad en internet.
            </li>
            <li>
          <b>Contactarse con periodistas:</b> En los casos de remoción de contenido y de suspensión, bloqueo o eliminación de una cuenta, puede ser útil recurrir a periodistas y medios de comunicación que puedan informar sobre el caso para darlo a conocer y ayudar a difundir el mensaje que fue eliminado.
            </li>
            <li>
          <b>Buscar asesoramiento legal:</b> Si el usuario no puede resolver el problema con la plataforma o si los esfuerzos de apelación no tuvieron éxito, puede explorar otras opciones, como buscar asesoramiento legal o acercarse a una organización que defienda la libertad de expresión en línea. En ambos casos pueden ayudar al usuario a comprender sus opciones legales y a tomar medidas para proteger sus derechos.
            </li>
          </ul>
        </p>
      </div>
      <h2>SEGUIMIENTO DESDE ESTA HERRAMIENTA</h2>
      <p>Esperamos que <b>Apelatrón</b> te haya podido asistir correctamente en el proceso de apelación de tu caso. En X días te llegará un correo de seguimiento para saber si recibiste una respuesta de la plataforma y cuál fue el resultado.</p>
      <div class="relevant">
          <div class="answerT">
              <h4><%= image_tag("sand-clock.png" , alt: "Imagen cambiar") %>¿Que esperar?</h4>
          </div>
          <p>En algunos casos, las plataformas pueden responder y resolver el caso en las primeras 48 horas desde que se solicitó la revisión o se presentó la apelación. Sin embargo, en otros casos pueden demorar varias semanas o meses, e incluso algunos reclamos pueden quedar sin respuesta. Es por eso que es importante considerar otras acciones que se pueden tomar para darle mayor visibilización al caso lo que podría ayudar para que la plataforma restaure el contenido o la cuenta suspendida.</p>
      </div>
      <a href="/nueva-apelacion" class="btn mainButton">Nueva consulta</a>
      <div class="share-frame">
        <div id="share-btn" class="btn secButton">¿Te fue útil? Compartí la herramienta<i class="fa-solid fa-share-nodes"></i></div>
        <% share_msg = "Apelatrón es un asistente para apelar en plataformas de redes sociales si te eliminaron un contenido o te bloquearon la cuenta injustamente." %>
        <div class="inline toggle-content">
          <a class="dropdown-item" href="https://mastodonshare.com/?text=<%= share_msg %>&url=<%= request.base_url %>" target="_blank">
            <i class="fa-brands fa-mastodon"></i>
          </a>
          <a class="dropdown-item" href="https://twitter.com/intent/tweet?text=<%= share_msg %>&amp;url=<%= request.base_url %>&amp;via=Apelatrón" onclick="if(!document.getElementById('td_social_networks_buttons')){window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;}">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a class="dropdown-item" href="https://www.facebook.com/sharer.php?u=<%= request.base_url %>" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a class="dropdown-item" target="_blank" href="https://api.whatsapp.com/send?text=<%= share_msg %> <%= request.base_url %>">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
          <a class="dropdown-item" href="https://www.linkedin.com/sharing/share-offsite/?url=<%= request.base_url %>" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a class="dropdown-item" href="mailto:someone@example.com?Subject=Apelatrón: Asitente de apelación&amp;body=<%= share_msg %> <%= request.base_url %>">
            <i class="fa-solid fa-envelope"></i>
          </a>
        </div>
    </div>
  </div>
</div>
<script>
  jQuery('#share-btn').click(() => {
    jQuery('#share-btn').parent().toggleClass('active');
  });
</script>
