<div class="main-frame">
    <div id="head-img">
        <%= image_tag("about.png", alt:"Imagen cambiar") %>
    </div>
    <div class="main-content">
        <h4 id="subtitle">
            APELATRÓN A SU SERVICIO
        </h4>
        <h2 id="page-title">
            Sobre el proyecto
        </h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis
            tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
            elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim
            egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna.
            Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum
            tellus.
        </p>
        <div id="img-gallery">

        </div>
        <div id="main-text">
            <h3>Objetivo</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                mattis tellus.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut
                interdum tellus elit sed risus. Maecenas eget condimentum velit.
            </p>
        </div>
        <div id="prop-list">
            <h3>Enlaces de interés</h3>
            <ul>
                <li>URL del proyecto</li>
                <li>Ayuda del proyecto</li>
                <li>Info en web de Observacom</li>
                <li>Info en web de Data</li>
            </ul>
        </div>
        <div id="prop-list">
            <h3>Contacto</h3>
            <ul>
                <li>Consultas sobre la herramienta o el proyecto en general (Data Uruguay): contacto@data.org.uy


                </li>
                <li>Consultas sobre libertad de expresión (Observacom): correo@observacom.org</li>
                <li>Formulario de contacto (mesa de ayuda)</li>
                <li>Redes:</li>
            </ul>
            <div id="networkImg">
                <a id="mediaImg"><%= image_tag("twitter-sky.png", alt:"Imagen cambiar") %></a>
                <a id="mediaImg"><%= image_tag("face-sky.png", alt:"Imagen cambiar") %></a>
                <a id="mediaImg"><%= image_tag("insta-sky.png", alt:"Imagen cambiar") %></a>
            </div>
        </div>
        <div id="prop-list">
            <h3>Logo y materiales para difusión</h3>
            <div class="upload-button">
                <button><%= image_tag("download.png", alt:"Imagen cambiar") %> Descagar pack Data Uruguay </button>
            </div>
            <div class="upload-button">
                <button><%= image_tag("download.png", alt:"Imagen cambiar") %> Descagar pack Adelatron</button>
            </div>
            <div class="upload-button">
                <button><%= image_tag("download.png", alt:"Imagen cambiar") %> Descagar pack Observacom</button>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                mattis tellus. </p>
        </div>
        <div id="prop-list">
            <h3>Social</h3>
            <p>
                Redes Observacom
            </p>
            <div id="networkImg">
                <a id="mediaImg"><%= image_tag("twitter-sky.png", alt:"Imagen cambiar") %></a>
                <a id="mediaImg"><%= image_tag("face-sky.png", alt:"Imagen cambiar") %></a>
                <a id="mediaImg"><%= image_tag("insta-sky.png", alt:"Imagen cambiar") %></a>
            </div>
        </div>
        <div id="prop-list">
            <h3>Apoyo</h3>
            <div id="img-gallery">

            </div>
            <h3>Antecedentes</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                mattis tellus.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
                mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut
                interdum tellus elit sed risus. Maecenas eget condimentum velit.
            </p>
        </div>
        <div class="main-button">
            <button><%= image_tag("home.png", alt:"Imagen cambiar") %>Quiero iniciar con la apelación</button>
        </div>
    </div>
</div>
