<% if step.title.present? %>
  <p class="prop">
    <%= step.title %>
  </p>
<% end %>
<% if step.description.present? %>
  <p>
    <%= step.description.html_safe %>
  </p>
<% end %>
<% if step.template.present? %>
<% copy_id = "copy-#{step.step_number}-#{step.order.present? ? step.order : 0}" %>
  <div class="relevant">
    <div class="answerT">
      <h3><%= image_tag("lamp.png", alt: "Lamparita") %>Plantilla de texto sugerida para tu respuesta</h3>
    </div>
    <p><%= step.template.html_safe %></p>
    <input id='<%= copy_id %>' type="hidden" value="<%= step.template.html_safe %>">
  </div>
  <div class="upload-button">
    <button onclick="copy2clip('<%= copy_id %>')"><%= image_tag("copy.png", alt: "Ãcono de copia") %>Copiar a portapapeles</button>
    <span id='<%= "message-#{copy_id}" %>' class="success suplement hidden">Plantilla copiada!</span>
  </div>
<% end %>
