<div class="step" id="step-<%= @step %>">
  <div class="main-frame">
    <div id="head-img">
        <%= image_tag(@step_data[@step][:image], alt: @step_data[@step][:alt]) %>
    </div>
    <div class="main-content">
      <h2 id="subtitle">
        <span>Paso <%= @step %></span>
        <span><%= "#{@platform.name} / #{@reason.name} / #{@standard.name}" %></span>
      </h2>
      <h1 id="page-title">
          <%= @step_data[@step][:title] %>
      </h1>
      <hr>
      <% if @steps.length >= 1 %>
        <% @steps.each do |step| %>
          <%= render partial: 'step', locals: {step: step} %>
        <% end %>
        <% if @step == 5 && @complaint.present? %>
          <h4>Por favor compartinos tu número de seguimiento</h4>
          <%= form_with(model: @complaint, id: 'follow', local: false) do |form| %>
          <div class="input-frame">
            <%= form.text_field :follow_number, placeholder: "Número de seguimiento" %>
            <%= error_text({id: 'email-error', message: 'El correo no parece ser correcto'}) %>
            <div class="suplement">Debería ser suministrado por la plataforma al ingreso de la apelación.</div>
            <%= form.submit "Siguiente", id: 'submit-5', class: 'mainButton' %>
          </div>
          <% end %>

          <script>
            $('#submit-5').click((e) => {
              e.preventDefault();
              $.ajax({
                method: "PATCH",
                url: '<%= "/complaints/#{@complaint.id}"%>',
                data: $('#follow').serialize()//{ id: <%= @complaint.id %>, token: <%= @complaint.token %>, follow_number: 1234567890 }
              });
            });
          </script>
        <% else %>
          <%= link_to "Siguiente", {:controller => :complaints, :action => :steps, step: (@step + 1), platform: @platform.id, reason: @reason.id, standard: @standard.id, token: params[:token]}, class: "mainButton", id: "submit-#{@step}" , remote:true %>
        <% end %>
      <% else %>
          <p>Parece que no hemos encontrado lo que estás buscando por favor contacta a contacto@data.org.uy</p>
          <%= link_to "Volver al inicio", '/', class: "mainButton" %>
      <% end %>
    </div>
  </div>
</div>
