<% content_for(:html_title) { 'Apelatrón - Nueva apelación' } %>
<% content_for(:header_title) { '<h1>Nueva apelación</h1>'.html_safe } %>
<% content_for(:header_left) { link_to '<', '#', class: 'btn-back' } %>
<%= form_with model: @complaint, local: false do |form| %>
<div id="steps" class='container-transition'>
  <div class="step" id="step-1">
    <div class="main-frame">
      <div id="head-img">
          <%= image_tag("step-1-header.svg", alt: "Imagen Paso 1") %>
      </div>
      <div class="main-content">
        <h4 id="subtitle">
            Paso 01
        </h4>
        <h2 id="page-title">
            Ingresar Correo
        </h2>
        <hr>
        <p>
          Para comenzar el proceso del asistente de apelación, necesitamos que ingreses tu correo electrónico. Por favor, proporciona una dirección a la que tengas acceso y revises regularmente.
        </p>
        <div class="input-frame">
          <%= form.email_field :email, placeholder: "Correo Electronico" %>
          <%= error_text({id: 'email-error', message: 'El correo no parece ser correcto'}) %>
          <div class="suplement">No vamos a compartirlo con nadie, ni enviar spam.</div>
        </div>
        <div id="check-frame">
            <label>
              <input type="checkbox" id="terms" name="terms" <%= @complaint.id.present? ? 'checked' : ''%>>
              Acepto los <%= link_to "términos y condiciones de uso", "/sobre-el-proyecto#terms", target: '_blank' %>.
            </label>
            <%= error_text({id: 'tyc-error', message: 'Debe aceptar los términos y condiciones'}) %>
        </div>
        <div id="blank"></div>
        <div class="relevant">
            <div id="answerT">
                <h4><%= image_tag "lamp.png", alt: "" %>¿Para qué necesitan mi correo?</h4>
            </div>
            <p>Entendemos que tu dirección de correo electrónico es un dato personal y por eso queremos explicarte que te lo pedimos con el único objetivo de ponernos en contacto luego de que presentes la apelación para realizar un seguimiento de tu caso. Respetamos tu privacidad por lo que no vamos a compartir tus datos con terceros.</p>
        </div>
        <%= link_to "Empezar con el proceso", {:controller => :complaints, :action => :index, step: 1}, class: "mainButton", remote:true %>
      </div>
    </div>
  </div>
  <div class="step hidden" id="step-2">
    <div class="main-frame">
      <div id="head-img">
          <%= image_tag("step-1-header.svg", alt: "Imagen Paso 2") %>
      </div>
      <div class="main-content">
        <div id="error-message"></div>
        <h4 id="subtitle">
            Paso 02
        </h4>
        <h2 id="page-title">
            Que pasó?
        </h2>
        <hr>
        <p>
          Seleccioná las opciones que correspondan a tu caso para continuar con la asistencia.
        </p>
        <div class="select-frame">
          <%= form.select :platform_id, @platform_options, class: (@complaint.errors.messages.key?(:platform) ? "error" : ""), :prompt => "Red social", :required => true %>
          <%= error_text({id: 'platform-error', message: 'Debe ingresar una plataforma'}) %>
        </div>
        <div class="select-frame">
          <%= form.select :country_id, @country_options, :prompt => "País", :required => true %>
          <%= error_text({id: 'country-error', message: 'Debe ingresar un país'}) %>
          <div class="suplement">Por si existen caminos legales locales.</div>
        </div>
        <div class="select-frame">
          <%= form.select :reason_id, @reason_options, :prompt => "Motivo de moderación", :required => true %>
          <%= error_text({id: 'reason-error', message: 'Debe ingresar el motivo de la moderación'}) %>
          <div class="suplement">No todos los casos posibles se contemplan en esta herramienta</div>
        </div>
        <div class="select-frame">
          <%= form.select :standard_id, @standard_options,  :prompt => "Tipo de moderación", :required => true %>
          <%= error_text({id: 'standard-error', message: 'Debe ingresar un tipo de moderación'}) %>
          <div class="suplement">Seleccionar lo más similar al caso puntual.</div>
        </div>
        <%= form.submit "Siguiente", class: 'mainButton' %>
      </div>
    </div>
  </div>
</div>
<% end %>
<script>
  //
  $('.btn-back').click((e) => {
    e.preventDefault();
    var step_id = parseInt(jQuery('.step:visible')[0].id.split('-')[1]);
    if ( step_id == 3 ) {
      $('.overlay').removeClass('hidden');
    }
    else {
      slideTo((step_id -1), step_id);
    }
  });
  $('input').on('change', (e) => {
    $('.error').addClass('hidden');
  });
  $('select').on('change', (e) => {
    $('.error-text').addClass('hidden');
  });
</script>
