<footer>
    <div id="main-content">
        <div id="text-module">
            <div class="group column">
                <h2>Sobre el proyecto </h2>
                <div id="info-group">
                    <p>
                        Información general del proyecto, que debería ser lo mismo que la descripción breve de “Sobre el
                        Proyecto,
                        que es a donde lleva el siguiente enlace.
                    </p>
                    <a href="about.html" id="more-info">Más información ></a>
                </div>
            </div>
            <div id="close-data">
                <h2>Datos abiertos y software libre </h2>
                <%= image_tag("arrow-down.png", alt:"Imagen cambiar") %>
            </div>
            <div id="open-data" class="group footer-toggle">
                <div id="open-title">
                    <h2>Datos abiertos y software libre </h2>
                    <%= image_tag("arrow-up.png", alt:"Imagen cambiar") %>
                </div>
                <p>
                    Los datos utilizados en esta aplicación se encuentran disponibles para su reutilización como
                    datos
                    abiertos y el código del software es libre bajo licencia GPLv3.
                </p>
                <a href="https://catalogodatos.gub.uy/dataset/a-tu-nombre-udelar" class="btn btn-transparent">
                    Datos abiertos en Catálogo Nacional
                </a>
                <a href="http://github.com/datauy/nomenclatorUDELAR/" class="btn btn-transparent">
                    Código de la aplicación en GitHub
                </a>
            </div>
            <div id="support-module">
                <div id="ask-frame">
                    <a href="http://soporte.data.org.uy/es/customer/create-ticket/" class="btn btn-transparent">
                        <%= image_tag("support.png", alt:"Imagen cambiar") %>
                        ¿Problemas, dudas?
                    </a>
                </div>
                <div id="support-button">
                    <button onclick="location.href='http://soporte.data.org.uy/es/'" type="button"
                        class="btn btn-transparent">
                        Escribí a Soporte
                    </button>
                </div>

            </div>
        </div>
        <div id="module" class="group column center">
            <h2>¿Quiénes somos?</h2>
            <div id="logos-frame">
                <%= image_tag("data.png", alt:"Imagen cambiar") %>
                <%= image_tag("observacom.png", alt:"Imagen cambiar") %>
            </div>
            <div id='data-description' class="footer-toggle">
                <p>DATA Uruguay es una ONG que crea herramientas de tecnología cívica para promover el
                    conocimiento y
                    ejercicio de derechos y hace activismo a través de Datos Abiertos y Gobierno Abierto.
                </p>
                <div class="social-links">

                </div>
            </div>
            <div>
                <div class="logos">
                </div>
                <div id='partner-description' class="footer-toggle">
                    <p>El Prorrectorado de Gestión ejecuta las políticas, estrategias, proyectos y normas aprobadas
                        por el
                        Consejo Directivo Central, en el marco de las directivas que dicte el Rector y bajo su
                        supervisión.
                    </p>
                    <div class="social-links">
                    </div>
                </div>
            </div>
            <div>
                <div class="logos">
                </div>
                <div id='partner-description' class="footer-toggle">
                    <p> En el año 2012 se crea la Comisión Abierta de Equidad de Género (CAEG) como un espacio de
                        reflexión
                        y de
                        definición de estrategias de abordaje de la perspectiva de equidad de género en las
                        políticas
                        universitarias.</p>
                    <div class="social-links">
                        <a href="https://gestion.udelar.edu.uy/institucional/comision-abierta-de-equidad-y-genero-caeg">
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div id="module">
            <h2>Con el apoyo de:</h2>
            <div id="logos-frame">
                <%= image_tag("logo-temp.png", alt:"Imagen cambiar") %>
                <%= image_tag("logo-temp.png", alt:"Imagen cambiar") %>
            </div>
        </div>
        <div id="module">
            <h2>Conocé otros proyectos de DATA:</h2>
            <div id="logos-frame">
                <%= image_tag("atuservicio.png", alt:"Imagen cambiar") %>
                <%= image_tag("dondereciclo.png", alt:"Imagen cambiar") %>
                <%= image_tag("datysoc.png", alt:"Imagen cambiar") %>
            </div>
            <div id="data-projects" class="slides"></div>
            <div id="slider-controls"></div>
        </div>
    </div>
    <hr>
    <div id="credits">
        <%= image_tag("Shape.png", alt:"Imagen cambiar") %>
        <%= image_tag("cc.png", alt:"Imagen cambiar") %>
        <div class="group">
            <p>El contenido original de este sitio, está bajo licencia Creative Commons Atribución 4.0
                Internacional. Por otras atribuciones ver sobre el proyecto.</p>
        </div>
    </div>
</footer>
